* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;

}
body{
   margin: 0;
}

a{
    text-decoration: none;
}

.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.main-nav .logo{
    font-size: 2rem;
}

.main-nav .nav-items{
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-items .cta{
    padding: 5px 20px;
    background-color: rgb(240, 224, 210);
    border-radius: 15px;
    color: #F58A07;
}

.main-nav .nav-items li{
    padding: 0 1rem;
    list-style: none;
}

.hero-section{
    background-color: #DCEAF5;
    padding: 5vh 0 0;

}

.section-services{
    padding: 30px 0;
}

.section-services .blog1 .orange{
    color: #F58A07;
}
/* .hero-section-content{
    display: flex;
} */

.flex-item{
    flex-grow: 1;
}

.img-fluid{
    max-width: 100%;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}

.header-title h1{
    font-size: 3rem;
    margin: 0;
}

.flex{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.gap{
    gap: 40px;
}

.col3{
    width: calc(100%/3 - 40px);
}

.col2{
    width: calc(100%/2);
}
.section{
    padding: 6rem 0;
}


.section-start{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    padding: 50px 100px;
   
}

.section-start img{
    width: 400px;
    height: 400px;

}


.section-start .part{
    display: inline-flex;
    
}

.section-start .part .ora{
    font-size: 30px;
    color: #F58A07;
    line-height: 50px;
}


.section-start .second::after{
    content: '';
    position: absolute;
    inset: 0 75% 0 0;
    background-color: #F58A07;
    border-radius: 25px 0 0 25px;
    mix-blend-mode: multiply;
    border-radius: 25px 0 0 25px;
}

.col3 img{
    border-radius: 10px;
}

.col3 .blog2{
    background-color: white;
    border-radius: 15px;
    height: 200px;
}

.section-sol{
    background-color: #DCEAF5;
    height: 665px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-sol .head1{
    display: flex;
    justify-content: space-between;
}

.section-sol .blog2{
    padding: 20px;
}

.mid-img1{
    position: relative;
}


.mid-img1 img{
    border-radius: 20px;
    display: flex;
    flex-direction: row;
   
}

.section-strategy {
    background-color: #DCEAF5;
    border-radius: 20px;
    padding: 20px 100px;
     
}
.section-strategy {
    position: relative;
}
.section-strategy .ribbon{
   position: absolute;
   top: -15px;
   right: -15px

}

.mid-img2{
    position: relative;
}

.section-strategy img{
    float: right;

}


.section-strategy .second::after{
    content: '';
    position: absolute;
    inset: 0 75% 0 0;
    background-color: #F58A07;
    border-radius: 25px 0 0 25px;
    mix-blend-mode: multiply;
    border-radius: 25px 0 0 25px;
}

.nav-items2 .items li{
    display: flex;
    justify-content: flex-start;
    list-style: none;
    padding: 5px 10px;
    border-radius: 15px;
    border: 1px solid #949191;
    background-color: #c4c2c2fd;
    padding: 0 1rem;
    display: inline-block;
   
    
}

.section-or .mid-cont {
    display: inline;
    align-items: center;
    justify-content: center;
}

.mid-cont .content-or{
    color: white;
    
}

.section-or img{
    background-position: left;
    height: 350px;
    width: 100%;
   
}

.section-or .col2 {
    background-color: #F58A07;
    
}

.section-or h2{
    align-content: center;
    display: flex;
    justify-content: center;

}

.section-fin .row{
    padding: 50px 100px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

.section-fin .mid-vid img{
    width: 400px;
    float: right;
}

.section-fin .ceo .ceo-img{
    width: 40px;
}

.section-fin .fin-content{
    display: flex;
    flex-direction: column;
    
}

.section-news {
    background-color: #DCEAF5;
    padding: 50px 100px;
}

.section-news  .gap{
    padding: 20px 0;   
}

.section-news .row .col3{
    background-color: white;
    border-radius: 10px;
    
}

.section-news .row .col3 .text{
    padding: 15px 10px 10px 10px;
}

.section-news .text .orange{
    color: #F58A07;
}
.fa{
    padding: 10px;
    font-size: 15px;
    text-align: center;
}

footer{
    position: relative;
    /* left: 0px; */
    background: #063255;
    height: 500px;
   
}

.foot .row{
    display: flex;
    justify-content: space-between;

}


footer .logo44 .fa-facebook{
    color: white;
}

footer .logo44 .fa-youtube{
    color: white;
}

footer .logo44 .fa-twitter{
    color: white;
}

footer .logo44 .fa-instagram{
    color: white;
}


.foot {
    color: white;
    align-items: center;
    /* display: flex; */
   line-height: 2;
}

.foot b{
    color: white;
}

.foot .company2 li{
   list-style: none;
}

.foot .logo44 .logo{
    font-size: 2rem;
}

.foot .apart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.company .containerf .text{
    border-radius: 20px;
}
.row .blog1 img{
    width: 100%;
}